@charset "UTF-8";

@font-face {
  font-family: PlayfairDisplay;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: PlayfairDisplay;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PlayfairDisplay;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Medium.woff2") format("woff"), url("../fonts/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: PlayfairDisplay;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff"), url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100%;
  font-family: PlayfairDisplay;
  font-weight: 300;
  color: #E8E8E8;
  overflow: hidden;
}

.container {
  max-width: 1614px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.095em;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.095em;
}

h3 {
  font-size: 36px;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.095em;
  line-height: 48px;
}

.wrapper._active {
  cursor: pointer;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.47);
}

.wrapper._active .menu {
  cursor: default;
}

.wrapper._active .page {
  position: relative;
  z-index: -2;
}

.wrapper._active .timetable {
  position: relative;
  z-index: -1;
}

.wrapper._active .connections {
  position: relative;
  z-index: -1;
}

.wrapper._active .questions__block1 {
  top: -99px;
}

.page {
  flex: 1 1 auto;
}

.header-main__row {
  position: relative;
  top: 45px;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  text-align: right;
  margin-left: 44px;
  font-size: 36px;
}

.logo__text p:first-child {
  font-size: 20px;
}

.timetable {
  margin-left: 170px;
}

.timetable__list {
  display: flex;
}

.timetable__list .timetable__item:first-child {
  margin-left: 0;
}

.timetable__item {
  margin-left: 135px;
  display: flex;
  align-items: center;
  color: #000;
  font-style: italic;
  line-height: 19px;
}

.timetable__item p::first-line {
  font-size: 20px;
}

.time-map {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  min-height: 64px;
  background: #EAB858;
  border-radius: 50%;
}

.timetable__item p {
  margin-left: 17px;
}

.burger {
  position: absolute;
  right: 0;
  min-width: 99px;
  min-height: 99px;
  border-radius: 50%;
  background: #fff;
}

.burger:hover {
  cursor: pointer;
  background: #E9E9E9;
}

.burger._active {
  display: none;
}

.burger._default {
  display: block;
}

.burger._default._active {
  display: none;
}

.burger-icon {
  position: absolute;
  left: 24px;
  top: 29px;
}

.burger-icon:hover {
  cursor: pointer;
}

.menu {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  transition: 0.5s;
  z-index: 3;
  background: #fff;
  top: -200%;
  right: 0;
  width: 496px;
  height: 100vh;
}

.menu._active {
  top: 0;
}

.menu._default {
  top: -200%;
}

.menu._default._active {
  top: 0;
}

.close {
  position: relative;
  left: 377px;
  margin-top: 45px;
  margin-bottom: 63px;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  background: #fff;
}

.close:hover {
  cursor: pointer;
  background: #E9E9E9;
}

.close-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 41px;
  height: 43px;
}

.close-icon:hover {
  cursor: pointer;
}

.menu__list li {
  text-align: right;
  margin-bottom: 37px;
  margin-right: 45px;
}

.menu__item a {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}

.menu__item:hover a {
  text-decoration: underline;
}

.menu__list li:nth-child(5) {
  margin-bottom: 102px;
}

.menu__list li:nth-child(5) a {
  border-bottom: 1px solid #000;
  padding-bottom: 47px;
  padding-left: 137px;
}

.menu__list li:last-child a {
  position: relative;
  padding-left: 69px;
  font-size: 32px;
}

.no-webp .phone > a::before{
  background: url("../img/Whatsup.png") 0 0 no-repeat; }

.phone > a::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.no-webp .phone > a:hover::before{
  background: url("../img/Whatsup-b.png") 0 0 no-repeat; }

.phone > a:hover::before {
  content: "";
  position: absolute;
  left: -0.8px;
  width: 48px;
  height: 48px;
}

.questions__block1 {
  position: absolute;
  z-index: -99;
  background: #A17229;
  top: 0px;
  width: 660px;
  height: 772px;
}

.questions__row {
  display: flex;
  position: relative;
  top: 92px;
}

.questions__block2 {
  position: absolute;
  background: #EAB858;
  z-index: -100;
  top: 466px;
  left: 412px;
  width: 420px;
  height: 184px;
}

.questions__body {
  margin-left: 102px;
  margin-top: 142px;
}

.questions__image img {
  max-width: 811px;
  max-height: 627px;
}

.questions__text {
  border-left: 6px solid #A17229;
  padding-left: 14px;
  margin-top: 38px;
  color: #000;
  font-size: 20px;
}

.questions__text p:last-child {
  margin-top: 10px;
}

.btn button {
  margin-top: 31px;
  width: 404px;
  height: 68px;
  background: #fff;
  border: 3px solid #FF9900;
  color: #FF9900;
  font-size: 24px;
  font-weight: 800;
  border-radius: 10px;
}

.btn button:hover {
  background: #FF9900;
  color: #fff;
}

.benefits {
  margin-top: 215px;
  margin-bottom: 104px;
}

.benefits__item:nth-child(3) {
  margin-top: 20px;
}

.benefits__item:nth-child(4) {
  margin-top: 20px;
}

.benefits__row {
  display: flex;
  justify-content: space-between;
}

.benefits__image {
  text-align: center;
}

.benefits__text p {
  margin-top: 26px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: #000;
  line-height: 51px;
}

.protection {
  position: relative;
}

.protection__block1 {
  position: absolute;
  z-index: -1;
  background: #7C522D;
  top: 0px;
  width: 100%;
  height: 520px;
}

.protection__row {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
}

.protection__body {
  position: relative;
  background: #fff;
  padding-top: 111px;
  padding-left: 75px;
  padding-right: 75px;
}

.protection__title {
  text-align: right;
  margin-bottom: 54px;
}

.protection__text p {
  text-align: right;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0.095em;
  color: #000;
}

.protection__button {
  margin-top: 34px;
  position: absolute;
  right: 75px;
}

.protection__image {
  position: relative;
}

.protection__image img {
  max-width: 811px;
  max-height: 724px;
}

.protection__block2 {
  position: absolute;
  z-index: -100;
  top: 593px;
  left: 8px;
  height: 156px;
  width: 830px;
  background: #EAB858;
}

.services {
  padding-bottom: 111px;
  margin-top: 160px;
  background: #EAB858;
}

.profit__item:nth-child(2) {
  margin-top: 78px;
  margin-bottom: 78px;
}

.services__title {
  padding-top: 104px;
  margin-left: 103px;
}

.services__row {
  margin-top: 98px;
  display: flex;
  justify-content: space-between;
}

.services__image {
  text-align: center;
}

.services__item-title {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 72px;
}

.services__list li {
  margin-left: 105px;
  margin-top: 47px;
  color: #000;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.095em;
}

.services__list li::before {
  content: "";
  display: inline-block;
  margin-right: 22px;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.services__button {
  text-align: right;
}

.profit {
  padding-top: 78px;
  padding-bottom: 78px;
}

.profit__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profit__image {
  text-align: center;
  margin-bottom: 15px;
}

.profit__image img {
  max-width: 138px;
  max-height: 138px;
}

.profit__text p {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  color: #000;
  letter-spacing: 0.095em;
}

.team {
  padding-bottom: 86px;
  position: relative;
  z-index: 0;
  background: linear-gradient(180deg, #7C522D 0%, #000000 184.16%);
}

.team__title {
  padding-top: 100px;
  margin-bottom: 92px;
}

.team__title h2 {
  color: #fff;
  text-align: center;
}

.team__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team__item:nth-child(2) {
  margin-top: 78px;
  margin-bottom: 78px;
}

.team__item-title {
  margin-bottom: 32px;
}

.team__item-title h3 {
  color: #fff;
  line-height: 20px;
}

.team__image {
  position: relative;
  text-align: center;
}

.team__image img {
  max-width: 291px;
  max-height: 435px;
}

.team__block1 {
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: -1;
  background: #EAB858;
  width: 235px;
  height: 76px;
}

.team__block2 {
  position: absolute;
  bottom: -14px;
  right: 0px;
  z-index: -1;
  background: #EAB858;
  width: 76px;
  height: 359px;
}

.team__block3 {
  position: absolute;
  top: -14px;
  left: 14px;
  z-index: -1;
  background: #EAB858;
  width: 163px;
  height: 364px;
}

.team__name {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  text-align: right;
  line-height: 32px;
  margin-top: 27px;
  font-style: italic;
  letter-spacing: 0.095em;
  font-weight: 400;
}

.about__row {
  display: flex;
  justify-content: end;
}

.about__body {
  padding-left: 97px;
  padding-right: 97px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.about__title {
  text-align: right;
  padding-top: 82px;
  margin-bottom: 35px;
}

.about__text {
  padding: 10px;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  line-height: 32px;
  position: relative;
  text-align: right;
  background: #fff;
  letter-spacing: 0.095em;
}

.about__text p:nth-child(2) {
  margin-bottom: 20px;
}

.about__block1 {
  position: absolute;
  top: -14px;
  left: -14px;
  z-index: -1;
  background: #7C522D;
  width: 126px;
  height: 231px;
}

.about__block2 {
  position: absolute;
  bottom: -14px;
  right: -14px;
  z-index: -1;
  background: #7C522D;
  width: 128px;
  height: 78px;
}

.about__button {
  margin-top: 65px;
}

.about__image img {
  max-width: 864px;
  max-height: 925px;
}

.connections {
  padding-top: 64px;
  background: linear-gradient(115.11deg, #FDFF92 6.64%, #E6DCC6 72.56%, #743600 132.45%);
}

.connections__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 87px;
}

.connections__body {
  position: relative;
}

.connections__list li {
  margin-top: 21px;
}

.connections__list li:first-child {
  margin-top: 0;
}

.connections__list li:first-child a:first-child {
  padding-left: 69px;
}

.connections__list:first-child a {
  position: relative;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: #000;
}

.connections__list li:nth-child(2) a {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: #000;
}

.connections__list li:last-child a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: #000;
}

.no-webp .phone-f > a::before{
  background: url("../img/Whatsup.png") 0 0 no-repeat; }

.phone-f > a::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.no-webp .phone-f > a:hover::before{
  background: url("../img/Whatsup-b.png") 0 0 no-repeat; }

.phone-f > a:hover::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: -0.8px;
}

.connections__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 82px;
  min-height: 82px;
  background: #E4A01D;
  border-radius: 50%;
}

.connections__circle:hover {
  background: #E79800;
}

.connections__circle img {
  width: 22px;
  height: 13px;
}

.connections__up {
  color: #fff;
  font-size: 20px;
}

.confidentiality {
  text-align: center;
  border-top: 1px solid #fff;
}

.confidentiality > p {
  padding: 10px 0px 10px 0px;
  color: #000;
}

.confidentiality > p > a {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.055em;
}

.popup {
  opacity: 0;
  visibility: hidden;
  font-family: PlayfairDisplay;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.47);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
}

.popup__content {
  position: relative;
  padding: 102px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1614px;
  max-height: 724px;
  background: #FFF854;
  transition: all 0.8s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 100px;
}

.popup__close img {
  width: 48px;
  height: 48px;
}

.popup__form {
  margin-top: -97px;
  position: relative;
  z-index: 0;
  margin-right: 75px;
}

.popup__form form {
  width: 499px;
  height: 428px;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup__form form input {
  border: 1px solid #000;
  padding-left: 19px;
  font-size: 20px;
  font-weight: 300;
  width: 400px;
  height: 54px;
  margin-top: 38px;
}

.popup__form form button {
  position: absolute;
  bottom: 48px;
  right: 50px;
  width: 162px;
  height: 54px;
  background: #FFF854;
  color: #000;
  font-size: 20px;
  font-weight: 300;
}

.popup__form form button:hover {
  background: #FFDE31;
}

.popup__block1 {
  position: absolute;
  z-index: -1;
  bottom: -16px;
  left: -16px;
  width: 420px;
  height: 184px;
  background: #EAB858;
}

.popup__text {
  position: relative;
  z-index: 0;
  padding-left: 109px;
  border-left: 1px solid #000;
}

.popup__block2 {
  position: absolute;
  z-index: -1;
  top: -21px;
  right: -21px;
  width: 363px;
  height: 450px;
  background: #EAB858;
}

.popup__text p:first-child {
  padding-top: 59px;
  width: 763px;
  height: 429px;
  background: #FFF854;
  font-weight: 600;
  font-size: 48px;
  line-height: 89px;
  letter-spacing: 0.095em;
}

.popup__text p:nth-child(2) {
  margin-top: 97px;
  text-align: right;
  font-size: 32px;
  letter-spacing: 0.055em;
}

.popup__text p:nth-child(2) a {
  padding-left: 69px;
  position: relative;
  color: #000;
}

.no-webp .popup__text p:nth-child(2) a::before{
  background: url("../img/Whatsup.png") 0 0 no-repeat; }

.popup__text p:nth-child(2) a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
}

.no-webp .popup__text p:nth-child(2) a:hover::before{
  background: url("../img/Whatsup-b.png") 0 0 no-repeat; }

.popup__text p:nth-child(2) a:hover::before {
  content: "";
  left: -0.8px;
}

@media only screen and (max-width: 1920px) {
  .wrapper._active .questions__block1 {
    top: calc(-99px + 0 * (100vw - 1680px) / 240);
  }

  .questions__block1 {
    width: calc(315px + 485 * (100vw - 1024px) / 896);
    height: calc(520px + 252 * (100vw - 1024px) / 896);
  }
}

@media only screen and (max-width: 1708px) {
  .about__button {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1680px) {
  .btn button {
    width: calc(220px + 184 * (100vw - 1024px) / 656);
    height: calc(42px + 26 * (100vw - 1024px) / 656);
    font-size: calc(14px + 10 * (100vw - 1024px) / 656);
  }

  h1 {
    font-size: calc(32px + 16 * (100vw - 1024px) / 656);
    line-height: calc(36px + 12 * (100vw - 1024px) / 656);
  }

  .logo img {
    width: calc(77px + 22 * (100vw - 1024px) / 656);
    height: calc(77px + 22 * (100vw - 1024px) / 656);
  }

  .logo__text {
    font-size: calc(24px + 12 * (100vw - 1024px) / 656);
  }

  .logo__text p:first-child {
    font-size: calc(14px + 6 * (100vw - 1024px) / 656);
  }

  .timetable {
    margin-left: calc(90px + 80 * (100vw - 1024px) / 656);
  }

  .timetable__item {
    margin-left: calc(30px + 105 * (100vw - 1024px) / 656);
  }

  .time-map {
    min-width: calc(48px + 16 * (100vw - 1024px) / 656);
    min-height: calc(48px + 16 * (100vw - 1024px) / 656);
  }

  .time-map .map {
    width: calc(26px + 8 * (100vw - 1024px) / 656);
    height: calc(26px + 8 * (100vw - 1024px) / 656);
  }

  .time-map .time {
    width: calc(20px + 6 * (100vw - 1024px) / 656);
    height: calc(26px + 8 * (100vw - 1024px) / 656);
  }

  .timetable__item p {
    line-height: calc(15px + 4 * (100vw - 1024px) / 656);
    font-size: calc(10px + 4 * (100vw - 1024px) / 656);
  }

  .timetable__item p:first-line {
    font-size: calc(14px + 6 * (100vw - 1024px) / 656);
  }

  .burger img {
    width: calc(44px + 8 * (100vw - 1024px) / 656);
    height: calc(27px + 12 * (100vw - 1024px) / 656);
  }

  .burger {
    min-width: calc(77px + 22 * (100vw - 1024px) / 656);
    min-height: calc(77px + 22 * (100vw - 1024px) / 656);
  }

  .burger-icon {
    left: calc(17px + 7 * (100vw - 1024px) / 656);
    top: calc(25px + 4 * (100vw - 1024px) / 656);
  }

  .wrapper._active .questions__block1 {
    top: calc(-77px + -22 * (100vw - 1024px) / 656);
  }

  .questions__block1 {
    width: calc(470px + 190 * (100vw - 1024px) / 656);
    height: calc(520px + 252 * (100vw - 1024px) / 656);
  }

  .questions__image img {
    max-width: calc(570px + 241 * (100vw - 1024px) / 656);
  }

  .questions__block2 {
    top: calc(270px + 196 * (100vw - 1024px) / 656);
    width: calc(175px + 245 * (100vw - 1024px) / 656);
    height: calc(187px + -3 * (100vw - 1024px) / 656);
  }

  .questions__body {
    margin-top: calc(40px + 102 * (100vw - 1024px) / 656);
    margin-left: calc(54px + 48 * (100vw - 1024px) / 656);
  }

  .questions__text p {
    font-size: calc(14px + 10 * (100vw - 1024px) / 656);
  }

  .benefits {
    margin-top: calc(165px + 50 * (100vw - 1024px) / 656);
    margin-bottom: calc(60px + 44 * (100vw - 1024px) / 656);
  }

  .benefits__image img {
    width: calc(38px + 14 * (100vw - 1024px) / 656);
    height: calc(38px + 14 * (100vw - 1024px) / 656);
  }

  .benefits__text p {
    line-height: calc(32px + 19 * (100vw - 1024px) / 656);
    font-size: calc(20px + 12 * (100vw - 1024px) / 656);
  }

  .protection__block1 {
    height: calc(290px + 230 * (100vw - 1024px) / 656);
  }

  .protection__row {
    padding-top: calc(58px + 46 * (100vw - 1024px) / 656);
  }

  .protection__body {
    padding-top: calc(40px + 71 * (100vw - 1024px) / 656);
    padding-left: calc(20px + 55 * (100vw - 1024px) / 656);
    padding-right: calc(20px + 55 * (100vw - 1024px) / 656);
  }

  .protection__title {
    margin-bottom: calc(20px + 34 * (100vw - 1024px) / 656);
  }

  .protection__title h2 {
    font-size: calc(32px + 16 * (100vw - 1024px) / 656);
    line-height: calc(36px + 12 * (100vw - 1024px) / 656);
  }

  .protection__text p {
    font-size: calc(14px + 6 * (100vw - 1024px) / 656);
    line-height: calc(20px + 10 * (100vw - 1024px) / 656);
  }

  .protection__button {
    margin-top: calc(15px + 19 * (100vw - 1024px) / 656);
    right: calc(20px + 55 * (100vw - 1024px) / 656);
  }

  .protection__image img {
    max-width: calc(570px + 241 * (100vw - 1024px) / 656);
  }

  .protection__block2 {
    top: calc(460px + 133 * (100vw - 1024px) / 656);
    height: calc(70px + 86 * (100vw - 1024px) / 656);
    width: calc(590px + 240 * (100vw - 1024px) / 656);
  }

  .services {
    padding-bottom: calc(61px + 50 * (100vw - 1024px) / 656);
    margin-top: calc(90px + 70 * (100vw - 1024px) / 656);
  }

  .services__title {
    padding-top: calc(50px + 54 * (100vw - 1024px) / 656);
  }

  .services__title h2 {
    font-size: calc(32px + 16 * (100vw - 1024px) / 656);
    line-height: calc(36px + 12 * (100vw - 1024px) / 656);
  }

  .services__row {
    margin-top: calc(60px + 38 * (100vw - 1024px) / 656);
  }

  .services__image img {
    width: calc(38px + 14 * (100vw - 1024px) / 656);
    height: calc(35px + 14 * (100vw - 1024px) / 656);
  }

  .services__item-title {
    margin-bottom: calc(50px + 22 * (100vw - 1024px) / 656);
  }

  .services__item-title h3 {
    font-size: calc(24px + 12 * (100vw - 1024px) / 656);
  }

  .services__list li {
    margin-left: calc(50px + 55 * (100vw - 1024px) / 656);
    margin-top: calc(20px + 27 * (100vw - 1024px) / 656);
    font-size: calc(14px + 6 * (100vw - 1024px) / 656);
    line-height: calc(20px + 4 * (100vw - 1024px) / 400);
  }

  .services__list li::before {
    margin-right: calc(16px + 6 * (100vw - 1024px) / 656);
    width: calc(14px + 6 * (100vw - 1024px) / 656);
    height: calc(14px + 6 * (100vw - 1024px) / 656);
  }

  .profit {
    padding-bottom: calc(30px + 48 * (100vw - 1024px) / 656);
    padding-top: calc(30px + 48 * (100vw - 1024px) / 656);
  }

  .profit__image img {
    max-width: calc(80px + 58 * (100vw - 1024px) / 656);
  }

  .profit__text p {
    font-size: calc(20px + 12 * (100vw - 1024px) / 656);
    line-height: calc(30px + 12 * (100vw - 1024px) / 656);
  }

  .team {
    padding-bottom: calc(38px + 48 * (100vw - 1024px) / 656);
  }

  .team__title {
    padding-top: calc(40px + 60 * (100vw - 1024px) / 656);
    margin-bottom: calc(45px + 47 * (100vw - 1024px) / 656);
  }

  .team__title h2 {
    font-size: calc(32px + 16 * (100vw - 1024px) / 656);
  }

  .team__item-title h3 {
    font-size: calc(24px + 12 * (100vw - 1024px) / 656);
  }

  .team__image img {
    max-height: calc(290px + 145 * (100vw - 1024px) / 656);
  }

  .team__block1 {
    width: calc(170px + 65 * (100vw - 1024px) / 656);
    height: calc(55px + 21 * (100vw - 1024px) / 656);
  }

  .team__block2 {
    width: calc(45px + 31 * (100vw - 1024px) / 656);
    height: calc(220px + 139 * (100vw - 1024px) / 656);
  }

  .team__block3 {
    width: calc(90px + 73 * (100vw - 1024px) / 656);
    height: calc(220px + 144 * (100vw - 1024px) / 656);
    left: calc(7px + 7 * (100vw - 1024px) / 656);
  }

  .team__name {
    font-size: calc(14px + 10 * (100vw - 1024px) / 656);
    line-height: calc(20px + 12 * (100vw - 1024px) / 656);
    margin-top: 27px;
  }

  .about__body {
    padding-left: calc(30px + 67 * (100vw - 1024px) / 656);
    padding-right: calc(30px + 67 * (100vw - 1024px) / 656);
  }

  .about__title {
    padding-top: calc(30px + 52 * (100vw - 1024px) / 656);
    margin-bottom: calc(20px + 15 * (100vw - 1024px) / 656);
  }

  .about__title h2 {
    font-size: calc(32px + 16 * (100vw - 1024px) / 656);
  }

  .about__text {
    font-size: calc(14px + 10 * (100vw - 1024px) / 656);
    line-height: calc(22px + 10 * (100vw - 1024px) / 656);
  }

  .about__block1 {
    top: calc(-8px + -6 * (100vw - 1024px) / 656);
    left: calc(-8px + -6 * (100vw - 1024px) / 656);
    height: calc(120px + 111 * (100vw - 1024px) / 656);
  }

  .about__block2 {
    bottom: calc(-8px + -6 * (100vw - 1024px) / 656);
    right: calc(-8px + -6 * (100vw - 1024px) / 656);
  }

  .about__image img {
    max-height: calc(570px + 355 * (100vw - 1024px) / 656);
  }

  .connections {
    padding-top: calc(50px + 14 * (100vw - 1024px) / 656);
  }

  .connections__row {
    margin-bottom: calc(53px + 34 * (100vw - 1024px) / 656);
  }

  .connections__list:first-child a {
    padding-top: calc(6px + -6 * (100vw - 1024px) / 656);
    font-size: calc(20px + 12 * (100vw - 1024px) / 656);
  }

  .connections__list li:nth-child(2) a {
    font-size: calc(14px + 6 * (100vw - 1024px) / 656);
  }

  .connections__list li:last-child a {
    font-size: calc(10px + 4 * (100vw - 1024px) / 656);
  }

  .connections__up .connections__circle {
    font-size: calc(14px + 6 * (100vw - 1024px) / 656);
  }

  .connections__circle {
    min-width: calc(55px + 27 * (100vw - 1024px) / 656);
    min-height: calc(55px + 27 * (100vw - 1024px) / 656);
  }

  .connections__circle img {
    width: calc(14px + 8 * (100vw - 1024px) / 656);
    height: calc(8px + 5 * (100vw - 1024px) / 656);
  }

  .confidentiality > p {
    font-size: calc(10px + 4 * (100vw - 1024px) / 656);
  }

  .confidentiality > p > a {
    font-size: calc(10px + 4 * (100vw - 1024px) / 656);
  }

  .popup__content {
    padding: calc(40px + 62 * (100vw - 1024px) / 656);
  }

  .popup__close {
    top: calc(60px + 60 * (100vw - 1024px) / 656);
    right: calc(60px + 60 * (100vw - 1024px) / 656);
  }

  .popup__close img {
    width: calc(28px + 20 * (100vw - 1024px) / 656);
    height: calc(28px + 20 * (100vw - 1024px) / 656);
  }

  .popup__form {
    margin-right: calc(40px + 35 * (100vw - 1024px) / 656);
  }

  .popup__form form {
    width: calc(349px + 150 * (100vw - 1024px) / 656);
  }

  .popup__form form input {
    font-size: calc(14px + 6 * (100vw - 1024px) / 656);
    width: calc(280px + 120 * (100vw - 1024px) / 656);
  }

  .popup__form form button {
    right: calc(35px + 15 * (100vw - 1024px) / 656);
    width: calc(120px + 42 * (100vw - 1024px) / 656);
    font-size: calc(14px + 6 * (100vw - 1024px) / 656);
  }

  .popup__block1 {
    bottom: calc(-12px + -4 * (100vw - 1024px) / 656);
    left: calc(-12px + -4 * (100vw - 1024px) / 656);
    width: calc(270px + 150 * (100vw - 1024px) / 656);
  }

  .popup__text {
    padding-left: calc(69px + 40 * (100vw - 1024px) / 656);
  }

  .popup__text p:first-child {
    width: calc(450px + 313 * (100vw - 1024px) / 656);
    font-size: calc(32px + 16 * (100vw - 1024px) / 656);
    line-height: calc(62px + 27 * (100vw - 1024px) / 656);
  }

  .popup__text p:nth-child(2) {
    font-size: calc(24px + 8 * (100vw - 1024px) / 656);
  }

  .popup__text p:nth-child(2) a {
    padding-top: calc(6px + -6 * (100vw - 1024px) / 656);
  }

  .popup__block2 {
    top: calc(-16px + -5 * (100vw - 1024px) / 656);
    right: calc(-16px + -5 * (100vw - 1024px) / 656);
    width: calc(240px + 123 * (100vw - 1024px) / 656);
    height: calc(445px + 5 * (100vw - 1024px) / 656);
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper._active .questions__block1 {
    top: calc(-104px + -41 * (100vw - 320px) / 704);
  }

  h1 {
    font-size: calc(32px + 16 * (100vw - 320px) / 704);
    line-height: calc(36px + 12 * (100vw - 320px) / 704);
  }

  .btn button {
    width: calc(220px + 184 * (100vw - 320px) / 704);
    height: calc(42px + 26 * (100vw - 320px) / 704);
    font-size: calc(14px + 10 * (100vw - 320px) / 704);
  }

  .row {
    flex-direction: column;
  }

  .logo__text {
    margin-left: calc(14px + 30 * (100vw - 320px) / 704);
  }

  .timetable {
    margin-top: 20px;
    margin-left: 0;
  }

  .timetable__item {
    margin-left: 0px;
    color: #fff;
  }

  .menu {
    width: calc(280px + 216 * (100vw - 320px) / 704);
  }

  .menu .close {
    left: calc(190px + 187 * (100vw - 320px) / 704);
    width: calc(77px + 22 * (100vw - 320px) / 704);
    height: calc(77px + 22 * (100vw - 320px) / 704);
  }

  .menu .close .close-icon {
    left: calc(22.7px + 7.3 * (100vw - 320px) / 704);
    top: calc(24px + 6 * (100vw - 320px) / 704);
    width: calc(33px + 8 * (100vw - 320px) / 704);
    height: calc(31px + 12 * (100vw - 320px) / 704);
  }

  .menu .menu__list li:nth-child(5) a {
    padding-left: calc(87px + 50 * (100vw - 320px) / 704);
  }

  .menu .menu__list li:last-child a {
    padding-top: calc(6px + -6 * (100vw - 320px) / 704);
    font-size: calc(20px + 12 * (100vw - 320px) / 704);
  }

  .menu .menu__item a {
    font-size: calc(14px + 10 * (100vw - 320px) / 704);
  }

  .questions__block1 {
    width: 75%;
  }

  .questions__row {
    display: flex;
    flex-direction: column;
  }

  .questions__row .questions__image {
    text-align: center;
  }

  .questions__row .questions__image img {
    max-width: 100%;
  }

  .questions__row .questions__body {
    margin-top: 10px;
  }

  .questions__row .questions__body .questions__text p {
    font-size: calc(14px + 10 * (100vw - 320px) / 704);
  }

  .benefits {
    margin-top: calc(165px + 50 * (100vw - 320px) / 704);
    margin-bottom: calc(60px + 44 * (100vw - 320px) / 704);
  }

  .benefits .benefits__row {
    flex-wrap: wrap;
  }

  .benefits .benefits__row .benefits__item {
    width: 50%;
  }

  .benefits .benefits__row .benefits__item .benefits__text p {
    font-size: calc(14px + 18 * (100vw - 320px) / 704);
  }

  .protection__row {
    padding-top: calc(58px + 46 * (100vw - 320px) / 704);
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .protection__row .protection__title {
    margin-top: 15px;
    margin-bottom: calc(20px + 34 * (100vw - 320px) / 704);
  }

  .protection__row .protection__title h2 {
    font-size: calc(32px + 16 * (100vw - 320px) / 704);
    line-height: calc(36px + 12 * (100vw - 320px) / 704);
  }

  .protection__row .protection__text p {
    font-size: calc(14px + 6 * (100vw - 320px) / 704);
    line-height: calc(20px + 10 * (100vw - 320px) / 704);
  }

  .protection__row .protection__button {
    right: 0;
  }

  .protection__row .protection__image img {
    max-width: 100%;
  }

  .services {
    padding-bottom: calc(61px + 50 * (100vw - 320px) / 704);
    margin-top: calc(90px + 70 * (100vw - 320px) / 704);
  }

  .services .services__title {
    text-align: center;
    margin-left: 0;
    padding-top: calc(54px + 50 * (100vw - 320px) / 704);
  }

  .services .services__title h2 {
    font-size: calc(32px + 16 * (100vw - 320px) / 704);
    line-height: calc(36px + 12 * (100vw - 320px) / 704);
  }

  .services .services__row {
    flex-direction: column;
    align-items: center;
  }

  .services .services__row .services__item {
    margin-top: calc(40px + 58 * (100vw - 320px) / 704);
    margin-bottom: calc(60px + 38 * (100vw - 320px) / 704);
  }

  .services .services__row .services__item:first-child {
    margin-bottom: 0;
  }

  .services .services__row .services__item .services__item-title h3 {
    font-size: calc(24px + 12 * (100vw - 320px) / 704);
    line-height: calc(36px + 12 * (100vw - 320px) / 704);
  }

  .services .services__row .services__item .services__list li {
    margin-left: 0;
    margin-top: calc(20px + 27 * (100vw - 320px) / 704);
    font-size: calc(14px + 6 * (100vw - 320px) / 704);
    line-height: calc(20px + 4 * (100vw - 320px) / 704);
  }

  .services .services__row .services__item .services__list li::before {
    margin-right: calc(16px + 6 * (100vw - 320px) / 704);
    width: calc(14px + 6 * (100vw - 320px) / 704);
    height: calc(14px + 6 * (100vw - 320px) / 704);
  }

  .services .services__button {
    text-align: center;
  }

  .profit {
    padding-bottom: calc(30px + 48 * (100vw - 320px) / 704);
    padding-top: calc(30px + 48 * (100vw - 320px) / 704);
  }

  .profit .profit__row {
    flex-wrap: wrap;
  }

  .profit .profit__row .profit__item:nth-child(2) {
    margin-top: calc(30px + 48 * (100vw - 320px) / 704);
    margin-bottom: calc(30px + 48 * (100vw - 320px) / 704);
  }

  .profit .profit__row .profit__image img {
    max-width: calc(80px + 58 * (100vw - 320px) / 704);
  }

  .profit .profit__row .profit__text p {
    font-size: calc(20px + 12 * (100vw - 320px) / 704);
    line-height: calc(30px + 12 * (100vw - 320px) / 704);
  }

  .team {
    padding-bottom: calc(38px + 48 * (100vw - 320px) / 704);
  }

  .team .team__title {
    padding-top: calc(40px + 60 * (100vw - 320px) / 704);
    margin-bottom: calc(45px + 47 * (100vw - 320px) / 704);
  }

  .team .team__title h2 {
    font-size: calc(32px + 16 * (100vw - 320px) / 704);
  }

  .team .team__row {
    flex-direction: column;
  }

  .team .team__row:nth-child(2) {
    margin-top: calc(30px + 48 * (100vw - 320px) / 704);
    margin-bottom: calc(30px + 48 * (100vw - 320px) / 704);
  }

  .team .team__row .team__item-title {
    text-align: center;
  }

  .team .team__row .team__item-title h3 {
    font-size: calc(24px + 12 * (100vw - 320px) / 704);
  }

  .team .team__row .team__image img {
    max-height: calc(290px + 145 * (100vw - 320px) / 704);
  }

  .team .team__row .team__block1 {
    display: none;
  }

  .team .team__row .team__block2 {
    display: none;
  }

  .team .team__row .team__block3 {
    display: none;
  }

  .team .team__row .team__name {
    text-align: center;
    font-size: calc(14px + 10 * (100vw - 320px) / 704);
    line-height: calc(20px + 12 * (100vw - 320px) / 704);
    margin-top: 27px;
  }

  .about__row {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .about__row .about__body {
    padding-left: calc(30px + 67 * (100vw - 320px) / 704);
    padding-right: calc(30px + 67 * (100vw - 320px) / 704);
  }

  .about__row .about__body .about__title {
    padding-top: calc(30px + 52 * (100vw - 320px) / 704);
    margin-bottom: calc(20px + 15 * (100vw - 320px) / 704);
  }

  .about__row .about__body .about__title h2 {
    font-size: calc(32px + 16 * (100vw - 320px) / 704);
  }

  .about__row .about__body .about__text {
    font-size: calc(14px + 10 * (100vw - 320px) / 704);
    line-height: calc(22px + 10 * (100vw - 320px) / 704);
  }

  .about__row .about__body .about__text .about__block1 {
    top: calc(-8px + -6 * (100vw - 320px) / 704);
    left: calc(-8px + -6 * (100vw - 320px) / 704);
    height: calc(120px + 111 * (100vw - 320px) / 704);
  }

  .about__row .about__body .about__text .about__block2 {
    bottom: calc(-8px + -6 * (100vw - 320px) / 704);
    right: calc(-8px + -6 * (100vw - 320px) / 704);
  }

  .about__row .about__body .about__button {
    margin-top: calc(30px + 35 * (100vw - 320px) / 704);
    margin-bottom: calc(60px + 35 * (100vw - 320px) / 704);
  }

  .about__row .about__image img {
    max-width: 100%;
    max-height: 100%;
  }

  .connections .connections__row .connections__list:first-child a {
    padding-top: calc(6px + -6 * (100vw - 320px) / 704);
    font-size: calc(20px + 12 * (100vw - 320px) / 704);
  }

  .connections .connections__row .connections__list li:first-child a:first-child {
    line-height: 36px;
    padding-left: calc(48px + 21 * (100vw - 320px) / 704);
  }

  .connections .connections__row .connections__list li:nth-child(2) a {
    font-size: calc(14px + 6 * (100vw - 320px) / 704);
  }

  .connections .connections__row .connections__list li:last-child a {
    font-size: calc(10px + 4 * (100vw - 320px) / 704);
  }

  .connections .connections__row .connections__up .connections__circle {
    font-size: calc(14px + 6 * (100vw - 320px) / 704);
  }

  .connections .connections__row .connections__circle {
    min-width: calc(55px + 27 * (100vw - 320px) / 704);
    min-height: calc(55px + 27 * (100vw - 320px) / 704);
  }

  .connections .connections__row .connections__circle img {
    width: calc(14px + 8 * (100vw - 320px) / 704);
    height: calc(8px + 5 * (100vw - 320px) / 704);
  }

  .connections .confidentiality > p {
    font-size: calc(9px + 5 * (100vw - 320px) / 704);
  }

  .connections .confidentiality > p > a {
    font-size: calc(9px + 5 * (100vw - 320px) / 704);
  }

  .popup__content {
    display: flex;
    flex-direction: column-reverse;
    padding: calc(15px + 25 * (100vw - 320px) / 704);
  }

  .popup__content .popup__close {
    top: 15px;
    right: 15px;
  }

  .popup__content .popup__close img {
    width: 28px;
    height: 28px;
  }

  .popup__content .popup__form {
    margin-top: 0;
    margin-right: 0;
  }

  .popup__content .popup__form form {
    margin-top: 40px;
    width: calc(250px + 99 * (100vw - 320px) / 704);
  }

  .popup__content .popup__form form input {
    font-size: 14px;
    width: calc(220px + 20 * (100vw - 320px) / 704);
  }

  .popup__content .popup__form form button {
    right: calc(15px + 40 * (100vw - 320px) / 704);
    width: calc(100px + 20 * (100vw - 320px) / 704);
    font-size: 14px;
  }

  .popup__content .popup__form .popup__block1 {
    display: none;
  }

  .popup__content .popup__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    text-align: center;
    border-left: none;
  }

  .popup__content .popup__text p:first-child {
    padding-bottom: 40px;
    padding-top: 0;
    font-weight: 800;
    line-height: 36px;
    height: 0;
    width: calc(250px + 50 * (100vw - 320px) / 704);
    font-size: calc(16px + 4 * (100vw - 320px) / 704);
  }

  .popup__content .popup__text p:nth-child(2) {
    font-size: calc(14px + 10 * (100vw - 320px) / 704);
  }

  .popup__content .popup__text p:nth-child(2) a {
    bottom: 0;
    left: 0;
  }

  .popup__content .popup__text .popup__block2 {
    display: none;
  }
}

.webp .phone > a::before{ background: url(../img/Whatsup.webp) 0 0 no-repeat; }

.webp .phone > a:hover::before{ background: url(../img/Whatsup-b.webp) 0 0 no-repeat; }

.webp .phone-f > a::before{ background: url(../img/Whatsup.webp) 0 0 no-repeat; }

.webp .phone-f > a:hover::before{ background: url(../img/Whatsup-b.webp) 0 0 no-repeat; }

.webp .popup__text p:nth-child(2) a::before{ background: url(../img/Whatsup.webp) 0 0 no-repeat; }

.webp .popup__text p:nth-child(2) a:hover::before{ background: url(../img/Whatsup-b.webp) 0 0 no-repeat; }